@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
0% { opacity: 0;}
100% { opacity: 1; }
}
@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
.fadeIn {
-webkit-animation: fadeIn 3s ease-in-out;
-moz-animation: fadeIn 3s ease-in-out;
-o-animation: fadeIn 3s ease-in-out;
animation: fadeIn 3s ease-in-out;
}
body{
 	margin: 0;
}
h3{
	color: white;
}

.change{
  color: black!important;
}

.menud{
  width: 130px;
  text-align: center;
}

.imgimg{
  background-size: contain!important;
  background-position: center!important;
  background-repeat: no-repeat!important;
  background-origin: inherit!important;
}

.slider{
	margin-bottom: 250px;
	background-color: #0288d1;
	padding-bottom:  5px!important;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

}


.aboutus{
	text-align: center;
}

.about{
	padding: 5px;
	background-color: #ffd54f;
  background-image: url('../images/teste.jpg');
  background-position: center;
background-attachment: fixed;
  background-size: cover;

	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
	margin-bottom:200px!important;
}
.activities{
	text-align: center;
	background-color: #00695c;
  background-image: url('../images/about.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
	padding:5px!important;
	margin-bottom: 150px;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.activities-link{
	color: #FFF;
	border-radius: 3px;
	padding: 5px;
}
.reflexion{
  margin-bottom: 60px;
}
.reflexion h5, h6{
	color: white;
	text-align: center;
}
.reflexion h6{
	font-style: italic;
	text-decoration: underline;
}
.reflexion blockquote{
	font-family: monospace, monospace;
    font-size: 1em;
    display: block;
    font-family: monospace;
    white-space: pre-wrap;
    margin: 1em 0px;
    border-color: white;
}
.photos-and-video{
	background-color: #81c784;
	padding: 5px;
	text-align: right;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

  background: linear-gradient(to bottom right, #0288d1, #00695c);

}
.photos-and-video .vermais{
  text-align: right;

}
.photos-and-video .vermais a{
  text-decoration: none;
  color: #fff;
}
.photos-and-video h5{
	text-align: center;
	color: #FFF;
}
iframe{
	margin: auto;
}
